/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:16px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.emall-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family: arial;font-weight:400;margin:10px 0}.emall-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.emall-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.emall-table,.emall-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.emall-table-all{border:1px solid #ffc0c0}
.emall-bordered tr,.emall-table-all tr{border-bottom:1px solid #ddd}.emall-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.emall-table-all tr:nth-child(odd){background-color:#fff}.emall-table-all tr:nth-child(even){background-color:#f1f1f1}
.emall-hoverable tbody tr:hover,.emall-ul.emall-hoverable li:hover{background-color:#ffc0c0}.emall-centered tr th,.emall-centered tr td{text-align:center}
.emall-table td,.emall-table th,.emall-table-all td,.emall-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.emall-table th:first-child,.emall-table td:first-child,.emall-table-all th:first-child,.emall-table-all td:first-child{padding-left:16px}
.emall-btn,.emall-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.emall-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.emall-btn,.emall-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.emall-disabled,.emall-btn:disabled,.emall-button:disabled{cursor:not-allowed;opacity:0.3}.emall-disabled *,:disabled *{pointer-events:none}
.emall-btn.emall-disabled:hover,.emall-btn:disabled:hover{box-shadow:none}
.emall-badge,.emall-tag{background-color:#000000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.emall-badge{border-radius:50%}
.emall-ul{list-style-type:none;padding:0;margin:0}.emall-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.emall-ul li:last-child{border-bottom:none}
.emall-tooltip,.emall-display-container{position:relative}.emall-tooltip .emall-text{display:none}.emall-tooltip:hover .emall-text{display:inline-block}
.emall-ripple:active{opacity:0.5}.emall-ripple{transition:opacity 0s}
.emall-input{padding:8px;display:block;border:none;border-bottom:1px solid #ffc0c0;width:100%}
.emall-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ffc0c0}
.emall-dropdown-click,.emall-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.emall-dropdown-hover:hover .emall-dropdown-content{display:block}
.emall-dropdown-hover:first-child,.emall-dropdown-click:hover{background-color:#ffc0c0;color:#000000}
.emall-dropdown-hover:hover > .emall-button:first-child,.emall-dropdown-click:hover > .emall-button:first-child{background-color:#ffc0c0;color:#000000}
.emall-dropdown-content{cursor:auto;color:#000000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.emall-check,.emall-radio{width:24px;height:24px;position:relative;top:6px}
.emall-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.emall-bar-block .emall-dropdown-hover,.emall-bar-block .emall-dropdown-click{width:100%}
.emall-bar-block .emall-dropdown-hover .emall-dropdown-content,.emall-bar-block .emall-dropdown-click .emall-dropdown-content{min-width:100%}
.emall-bar-block .emall-dropdown-hover .emall-button,.emall-bar-block .emall-dropdown-click .emall-button{width:100%;text-align:left;padding:8px 16px;}
.emall-main,#main{transition:margin-left .4s}
.emall-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.emall-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.emall-bar{width:100%;overflow:hidden}.emall-center .emall-bar{display:inline-block;width:auto}
.emall-bar .emall-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0;}
.emall-bar .emall-dropdown-hover,.emall-bar .emall-dropdown-click{position:static;float:left}
.emall-bar .emall-button{white-space:normal;}
.emall-bar-block .emall-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.emall-bar-block.emall-center .emall-bar-item{text-align:center}.emall-block{display:block;width:100%}
.emall-responsive{display:block;overflow-x:auto}
.emall-container:after,.emall-container:before,.emall-panel:after,.emall-panel:before,.emall-row:after,.emall-row:before,.emall-row-padding:after,.emall-row-padding:before,
.emall-cell-row:before,.emall-cell-row:after,.emall-clear:after,.emall-clear:before,.emall-bar:before,.emall-bar:after{content:"";display:table;clear:both}
.emall-col,.emall-half,.emall-half2,.emall-third,.emall-twothird,.emall-threequarter,.emall-quarter{float:left;width:100%}
.emall-col.s1{width:8.33333%}.emall-col.s2{width:16.66666%}.emall-col.s3{width:24.99999%}.emall-col.s4{width:33.33333%}
.emall-col.s5{width:41.66666%}.emall-col.s6{width:49.99999%}.emall-col.s7{width:58.33333%}.emall-col.s8{width:66.66666%}
.emall-col.s9{width:74.99999%}.emall-col.s10{width:83.33333%}.emall-col.s11{width:91.66666%}.emall-col.s12{width:99.99999%}
@media (min-width:601px){.emall-col.m1{width:8.33333%}.emall-col.m2{width:16.66666%}.emall-col.m3,.emall-quarter{width:24.99999%}.emall-col.m4,.emall-third{width:32.33333%}
.emall-col.m5{width:41.66666%}.emall-col.m6,.emall-half{width:46.99999%}.emall-half2{width:48.99999%}.emall-col.m7{width:58.33333%}.emall-col.m8,.emall-twothird{width:66.66666%}
.emall-col.m9,.emall-threequarter{width:74.99999%}.emall-col.m10{width:83.33333%}.emall-col.m11{width:91.66666%}.emall-col.m12{width:99.99999%}}
@media (min-width:993px){.emall-col.l1{width:8.33333%}.emall-col.l2{width:16.66666%}.emall-col.l3{width:24.99999%}.emall-col.l4{width:33.33333%}
.emall-col.l5{width:41.66666%}.emall-col.l6{width:49.99999%}.emall-col.l7{width:58.33333%}.emall-col.l8{width:66.66666%}
.emall-col.l9{width:74.99999%}.emall-col.l10{width:83.33333%}.emall-col.l11{width:91.66666%}.emall-col.l12{width:99.99999%}}
.emall-rest{overflow:hidden}.emall-stretch{margin-left:-16px;margin-right:-16px}
.emall-content,.emall-auto{margin-left:auto;margin-right:auto}.emall-content{max-width:980px}.emall-auto{max-width:1140px}
.emall-cell-row{display:table;width:100%}.emall-cell{display:table-cell}
.emall-cell-top{vertical-align:top}.emall-cell-middle{vertical-align:middle}.emall-cell-bottom{vertical-align:bottom}
.emall-hide{display:none!important}.emall-show-block,.emall-show{display:block!important}.emall-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.emall-auto{max-width:95%}}
@media (max-width:1100px){.emall-modal-content{margin:0 10px;width:auto!important}.emall-modal{padding-top:30px}
.emall-dropdown-hover.emall-mobile .emall-dropdown-content,.emall-dropdown-click.emall-mobile .emall-dropdown-content{position:relative}	
.emall-hide-small{display:none!important}.emall-mobile{display:block;width:100%!important}.emall-bar-item.emall-mobile,.emall-dropdown-hover.emall-mobile,.emall-dropdown-click.emall-mobile{text-align:center}
.emall-dropdown-hover.emall-mobile,.emall-dropdown-hover.emall-mobile .emall-btn,.emall-dropdown-hover.emall-mobile .emall-button,.emall-dropdown-click.emall-mobile,.emall-dropdown-click.emall-mobile .emall-btn,.emall-dropdown-click.emall-mobile .emall-button{width:100%}}
/*@media (max-width:768px){.emall-modal-content{width:500px}.emall-modal{padding-top:50px}}*/
@media (max-width:768px){.emall-modal-content{width:600px}.emall-modal{padding-top:50px}}
/*@media (min-width:993px){.emall-modal-content{width:900px}.emall-hide-large{display:none!important}.emall-sidebar.emall-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.emall-hide-medium{display:none!important}}
@media (max-width:992px){.emall-sidebar.emall-collapse{display:none}.emall-main{margin-left:0!important;margin-right:0!important}.emall-auto{max-width:100%}}*/

@media (min-width:1200px){.emall-modal-content{width:1100px}.emall-hide-large{display:none!important}.emall-sidebar.emall-collapse{display:block!important}}
@media (max-width:1199px) and (min-width:1100px){.emall-hide-medium{display:none!important}}
@media (max-width:1199px){.emall-sidebar.emall-collapse{display:none}.emall-main{margin-left:0!important;margin-right:0!important}.emall-auto{max-width:100%}}
.emall-bottom{position:fixed;width:100%;z-index:1}.emall-top{top:0}.emall-bottom{bottom:0}
/*.emall-top{position:fixed;width:100%;z-index:1}*/
.emall-top{width:100%;z-index:1}
.emall-top{top:0}.emall-bottom{bottom:0}
.emall-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.emall-display-topleft{position:absolute;left:0;top:0}.emall-display-topright{position:absolute;right:0;top:0}
.emall-display-bottomleft{position:absolute;left:0;bottom:0}.emall-display-bottomright{position:absolute;right:0;bottom:0}
.emall-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.emall-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.emall-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.emall-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.emall-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.emall-display-container:hover .emall-display-hover{display:block}.emall-display-container:hover span.emall-display-hover{display:inline-block}.emall-display-hover{display:none}
.emall-display-position{position:absolute}
.emall-circle{border-radius:50%}
.emall-round-small{border-radius:2px}.emall-round,.emall-round-medium{border-radius:4px}.emall-round-large{border-radius:8px}.emall-round-xlarge{border-radius:16px}.emall-round-xxlarge{border-radius:32px}
.emall-row-padding,.emall-row-padding>.emall-half,.emall-half2,.emall-row-padding>.emall-third,.emall-row-padding>.emall-twothird,.emall-row-padding>.emall-threequarter,.emall-row-padding>.emall-quarter,.emall-row-padding>.emall-col{padding:0 8px}
.emall-container,.emall-panel{padding:0.01em 16px}.emall-panel{margin-top:16px;margin-bottom:16px}
.emall-code,.emall-codespan{font-family:Consolas,"courier new";font-size:16px}
.emall-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.emall-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.emall-card0{padding:0px 0px; margin-top:0px;margin-bottom:0px}
.emall-card,.emall-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.emall-card-4,.emall-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.emall-spin{animation:emall-spin 2s infinite linear}@keyframes emall-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.emall-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.emall-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.emall-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.emall-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.emall-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.emall-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.emall-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.emall-animate-input{transition:width 0.4s ease-in-out}.emall-animate-input:focus{width:100%!important}
.emall-opacity,.emall-hover-opacity:hover{opacity:0.60}.emall-opacity-off,.emall-hover-opacity-off:hover{opacity:1}
.emall-opacity-max{opacity:0.25}.emall-opacity-min{opacity:0.75}
.emall-greyscale-max,.emall-grayscale-max,.emall-hover-greyscale:hover,.emall-hover-grayscale:hover{filter:grayscale(100%)}
.emall-greyscale,.emall-grayscale{filter:grayscale(75%)}.emall-greyscale-min,.emall-grayscale-min{filter:grayscale(50%)}
.emall-sepia{filter:sepia(75%)}.emall-sepia-max,.emall-hover-sepia:hover{filter:sepia(100%)}.emall-sepia-min{filter:sepia(50%)}
.emall-tiny{font-size:10px!important}.emall-small{font-size:14px!important}.emall-medium{font-size:16px!important}.emall-large{font-size:18px!important}
.emall-xlarge{font-size:24px!important}.emall-xxlarge{font-size:36px!important}.emall-xxxlarge{font-size:48px!important}.emall-jumbo{font-size:64px!important}
.emall-left-align{text-align:left!important}.emall-right-align{text-align:right!important}.emall-justify{text-align:justify!important}.emall-center{text-align:center!important}
.emall-border-0{border:0!important}.emall-border{border:1px solid #ffc0c0!important}
.emall-border-top{border-top:1px solid #ffc0c0!important}.emall-border-bottom{border-bottom:1px solid #ffc0c0!important}
.emall-border-left{border-left:1px solid #ffc0c0!important}.emall-border-right{border-right:1px solid #ffc0c0!important}
.emall-topbar{border-top:6px solid #ffc0c0!important}.emall-bottombar{border-bottom:6px solid #ffc0c0!important}
.emall-leftbar{border-left:6px solid #ffc0c0!important}.emall-rightbar{border-right:6px solid #ffc0c0!important}
.emall-section,.emall-code{margin-top:16px!important;margin-bottom:16px!important}
.emall-margin{margin:16px!important}.emall-margin-top{margin-top:16px!important}.emall-margin-bottom{margin-bottom:16px!important}
.emall-margin-left{margin-left:16px!important}.emall-margin-right{margin-right:16px!important}
.emall-padding-small{padding:4px 8px!important}.emall-padding{padding:8px 16px!important}.emall-padding-large{padding:12px 24px!important}
.emall-padding-2{padding-top:2px!important;padding-bottom:2px!important}
.emall-padding-16{padding-top:16px!important;padding-bottom:16px!important}.emall-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.emall-padding-32{padding-top:32px!important;padding-bottom:32px!important}.emall-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.emall-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.emall-left{float:left!important}.emall-right{float:right!important}
.emall-button:hover{color:#000000!important;background-color:#ffc0c0!important}
.emall-transparent,.emall-hover-none:hover{background-color:transparent!important}
.emall-hover-none:hover{box-shadow:none!important}
/* Colors */
.emall-amber,.emall-hover-amber:hover{color:#000000!important;background-color:#ffc107!important}
.emall-aqua,.emall-hover-aqua:hover{color:#000000!important;background-color:#00ffff!important}
.emall-blue,.emall-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.emall-light-blue,.emall-hover-light-blue:hover{color:#000000!important;background-color:#87CEEB!important}
.emall-brown,.emall-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.emall-cyan,.emall-hover-cyan:hover{color:#000000!important;background-color:#00bcd4!important}
.emall-blue-grey,.emall-hover-blue-grey:hover,.emall-blue-gray,.emall-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.emall-green,.emall-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.emall-light-green,.emall-hover-light-green:hover{color:#000000!important;background-color:#8bc34a!important}
.emall-indigo,.emall-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.emall-khaki,.emall-hover-khaki:hover{color:#000000!important;background-color:#f0e68c!important}
.emall-lime,.emall-hover-lime:hover{color:#000000!important;background-color:#cddc39!important}
.emall-orange,.emall-hover-orange:hover{color:#000000!important;background-color:#ff9800!important}
.emall-deep-orange,.emall-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.emall-pink,.emall-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.emall-purple,.emall-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.emall-deep-purple,.emall-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.emall-red,.emall-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.emall-sand,.emall-hover-sand:hover{color:#000000!important;background-color:#fdf5e6!important}
.emall-teal,.emall-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.emall-yellow,.emall-hover-yellow:hover{color:#000000!important;background-color:#ffeb3b!important}
.emall-white,.emall-hover-white:hover{color:#000!important;background-color:#fff!important}
.emall-black,.emall-hover-black:hover{color:#fff!important;background-color:#000!important}
.emall-emall,.emall-hover-emall:hover{color:#ffffff!important;background-color:#000000!important}
.emall-emall2,.emall-hover-emall2:hover{color:#000000!important;background-color:#ffffff!important}
.emall-emall3,.emall-hover-emall3:hover{color:#ffffff!important;background-color:#e69ac3!important}
.emall-logo,.emall-hover-logo:hover{color:#000000!important;background-color:#FFFFFF!important}
.emall-grey,.emall-hover-grey:hover,.emall-gray,.emall-hover-gray:hover{color:#000000!important;background-color:#9e9e9e!important}
.emall-light-grey,.emall-hover-light-grey:hover,.emall-light-gray,.emall-hover-light-gray:hover{color:#000000!important;background-color:#e6ffe6!important}
.emall-dark-grey,.emall-hover-dark-grey:hover,.emall-dark-gray,.emall-hover-dark-gray:hover{color:#000000!important;background-color:#ccffcc!important}
.emall-pale-red,.emall-hover-pale-red:hover{color:#000000!important;background-color:#ffdddd!important}
.emall-pale-green,.emall-hover-pale-green:hover{color:#000000!important;background-color:#ddffdd!important}
.emall-pale-yellow,.emall-hover-pale-yellow:hover{color:#000000!important;background-color:#ffffcc!important}
.emall-pale-blue,.emall-hover-pale-blue:hover{color:#000000!important;background-color:#ddffff!important}
.emall-text-amber,.emall-hover-text-amber:hover{color:#ffc107!important}
.emall-text-aqua,.emall-hover-text-aqua:hover{color:#00ffff!important}
.emall-text-blue,.emall-hover-text-blue:hover{color:#2196F3!important}
.emall-text-light-blue,.emall-hover-text-light-blue:hover{color:#87CEEB!important}
.emall-text-brown,.emall-hover-text-brown:hover{color:#795548!important}
.emall-text-cyan,.emall-hover-text-cyan:hover{color:#00bcd4!important}
.emall-text-blue-grey,.emall-hover-text-blue-grey:hover,.emall-text-blue-gray,.emall-hover-text-blue-gray:hover{color:#607d8b!important}
.emall-text-green,.emall-hover-text-green:hover{color:#4CAF50!important}
.emall-text-light-green,.emall-hover-text-light-green:hover{color:#8bc34a!important}
.emall-text-indigo,.emall-hover-text-indigo:hover{color:#3f51b5!important}
.emall-text-khaki,.emall-hover-text-khaki:hover{color:#b4aa50!important}
.emall-text-lime,.emall-hover-text-lime:hover{color:#cddc39!important}
.emall-text-orange,.emall-hover-text-orange:hover{color:#ff9800!important}
.emall-text-deep-orange,.emall-hover-text-deep-orange:hover{color:#ff5722!important}
.emall-text-pink,.emall-hover-text-pink:hover{color:#e91e63!important}
.emall-text-purple,.emall-hover-text-purple:hover{color:#9c27b0!important}
.emall-text-deep-purple,.emall-hover-text-deep-purple:hover{color:#673ab7!important}
.emall-text-red,.emall-hover-text-red:hover{color:#f44336!important}
.emall-text-sand,.emall-hover-text-sand:hover{color:#fdf5e6!important}
.emall-text-teal,.emall-hover-text-teal:hover{color:#009688!important}
.emall-text-yellow,.emall-hover-text-yellow:hover{color:#d2be0e!important}
.emall-text-white,.emall-hover-text-white:hover{color:#fff!important}
.emall-text-emall,.emall-hover-text-emall:hover{color:#000000!important}
.emall-text-emallstr,.emallstr-hover-text-emall:hover{color:#000000!important}
.emall-text-emallstrbk,.emallstrbk-hover-text-emall:hover{color:#fcfdf7!important}
.emall-text-black,.emall-hover-text-black:hover{color:#443300!important}
.emall-text-grey,.emall-hover-text-grey:hover,.emall-text-gray,.emall-hover-text-gray:hover{color:#757575!important}
.emall-text-light-grey,.emall-hover-text-light-grey:hover,.emall-text-light-gray,.emall-hover-text-light-gray:hover{color:#f1f1f1!important}
.emall-text-dark-grey,.emall-hover-text-dark-grey:hover,.emall-text-dark-gray,.emall-hover-text-dark-gray:hover{color:#3a3a3a!important}
.emall-text-shadow{text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
.emall-text-shadowstr{}
.emall-text-shadowstrbk{text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;}
.emall-border-amber,.emall-hover-border-amber:hover{border-color:#ffc107!important}
.emall-border-aqua,.emall-hover-border-aqua:hover{border-color:#00ffff!important}
.emall-border-blue,.emall-hover-border-blue:hover{border-color:#2196F3!important}
.emall-border-light-blue,.emall-hover-border-light-blue:hover{border-color:#87CEEB!important}
.emall-border-brown,.emall-hover-border-brown:hover{border-color:#795548!important}
.emall-border-cyan,.emall-hover-border-cyan:hover{border-color:#00bcd4!important}
.emall-border-blue-grey,.emall-hover-border-blue-grey:hover,.emall-border-blue-gray,.emall-hover-border-blue-gray:hover{border-color:#607d8b!important}
.emall-border-green,.emall-hover-border-green:hover{border-color:#4CAF50!important}
.emall-border-light-green,.emall-hover-border-light-green:hover{border-color:#8bc34a!important}
.emall-border-indigo,.emall-hover-border-indigo:hover{border-color:#3f51b5!important}
.emall-border-khaki,.emall-hover-border-khaki:hover{border-color:#f0e68c!important}
.emall-border-lime,.emall-hover-border-lime:hover{border-color:#cddc39!important}
.emall-border-orange,.emall-hover-border-orange:hover{border-color:#ff9800!important}
.emall-border-deep-orange,.emall-hover-border-deep-orange:hover{border-color:#ff5722!important}
.emall-border-pink,.emall-hover-border-pink:hover{border-color:#e91e63!important}
.emall-border-purple,.emall-hover-border-purple:hover{border-color:#9c27b0!important}
.emall-border-deep-purple,.emall-hover-border-deep-purple:hover{border-color:#673ab7!important}
.emall-border-red,.emall-hover-border-red:hover{border-color:#f44336!important}
.emall-border-sand,.emall-hover-border-sand:hover{border-color:#fdf5e6!important}
.emall-border-teal,.emall-hover-border-teal:hover{border-color:#009688!important}
.emall-border-yellow,.emall-hover-border-yellow:hover{border-color:#ffeb3b!important}
.emall-border-white,.emall-hover-border-white:hover{border-color:#fff!important}
.emall-border-black,.emall-hover-border-black:hover{border-color:#000!important}
.emall-border-grey,.emall-hover-border-grey:hover,.emall-border-gray,.emall-hover-border-gray:hover{border-color:#9e9e9e!important}
.emall-border-light-grey,.emall-hover-border-light-grey:hover,.emall-border-light-gray,.emall-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.emall-border-dark-grey,.emall-hover-border-dark-grey:hover,.emall-border-dark-gray,.emall-hover-border-dark-gray:hover{border-color:#616161!important}
.emall-border-pale-red,.emall-hover-border-pale-red:hover{border-color:#ffe7e7!important}.emall-border-pale-green,.emall-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.emall-border-pale-yellow,.emall-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.emall-border-pale-blue,.emall-hover-border-pale-blue:hover{border-color:#e7ffff!important}
.emall-box {  box-shadow: 0 3px 3px rgba(0,0,0,0.2); margin:2px;}
.emall-round25p { border-radius: 25px; }
.emall-round12p { border-radius: 12px; }

.emall-price-span1 {    font-weight: normal;    color: #222;    text-decoration: line-through;}

.emall-price-discount {    font-weight: bold;    color: #F00; }

/*.emall-container{background-image: linear-gradient(white, #e6ffe6, white)}*/
.emall-border-bb{border: 1px solid #000000;}
.emall-div-center{margin: auto;}